@page "/change-password"
@layout CleanLayout

<div class="row align-items-center justify-content-center h-100 mw-100">
    <div class="w-30 mw-30">
        @if (!Changed)
        {
            <h1>@(Localizer["ChangePassword"])</h1>
            <EditForm Model="@NewCredentials" OnValidSubmit="@HandleChangePassword">
                <div class="row">
                    <input type="email" class="form-control" @bind="NewCredentials.Email" readonly>
                </div>
                <div class="row pt-3">
                    <input type="password" class="form-control" @bind="NewCredentials.OldPassword" autofocus required placeholder="@(Localizer["OldPassword"])">
                </div>
                <div class="row pt-3">
                    <input type="password" class="form-control" @bind="NewCredentials.NewPassword" required placeholder="@(Localizer["newPassword"])">
                </div>
                <div class="row pt-3">
                    <input type="password" class="form-control" @bind="RepeatNewPassword" required placeholder="@(Localizer["RepeatNewPassword"])">
                </div>
                <span class="text-danger">@Message</span>
                <div class="d-flex justify-content-sm-center pt-3">
                    <input class="btn main-button" type="submit" value="@(Localizer["Submit"])">
                </div>
            </EditForm>
        }
        else
        {
            <p class="main-font-subheader">@Message</p>
            <div class="d-flex justify-content-sm-center pt-3">
                <button class="btn main-button" type="submit" @onclick='() => NavigationManager.NavigateTo("account-settings")'>Go Back</button>
            </div>
        }
    </div>
</div>