@page "/reset-password"
@layout CleanLayout

    <div class="row align-items-center justify-content-center h-100 mw-100">
        <div class="w-30 mw-30">
            @if (!ResetToken)
            {
                <EditForm Model="@Email" OnValidSubmit="@HandlePasswordReset">
                    <div class="row">
                        <input type="email" class="form-control" @bind="Email" required placeholder="@(Localizer["EmailAddress"])">
                    </div>
                    <span class="text-danger">@Message</span>
                    <div class="d-flex justify-content-sm-center pt-3">
                        <input class="btn main-button" type="submit" value="@(Localizer["Submit"])">
                    </div>
                </EditForm>
            }
            else
            {
                <p class="main-font-subheader">@Message</p>
                <div class="d-flex justify-content-sm-center pt-3">
                    <button class="btn main-button" type="submit" @onclick='() => NavigationManager.NavigateTo("Login")'>Oke</button>
                </div>
            }
        </div>
    </div>
